.navbar{
    padding: 0;
    margin: 0;
    background-color: red;
}

.contenedor-img-bio{
    display: flex;
    border: 2px;
    justify-content: left;
    border-style: solid;
    border-color:gray;
    margin-top: 5.7%;
    margin-left: 8%;
    margin-right: 8%;
    width: 85%;
    height: 100%;
}
.img-cauca{
    width: 47%;
    height: 5%;
    margin: 3%;
    justify-content: center;
    padding: 15px;
}
.img-valle{
    width: 28%;
    height: 5%;
    margin: 3%;
    justify-content: center;
    padding: 15px;
}
.img-nariño{
    width: 45%;
    height: 5%;
    margin: 3%;
    justify-content: center;
    padding: 15px;
}
.img-depar{
    width: 41%;
    height: 5%;
    margin: 3%;
    justify-content: center;
    padding: 15px;
}

.contenedor-biografia{
    padding: 60px;
    font-family: Arial, Helvetica, sans-serif;
}
#texto1{
    color: white;
}
#texto2{
    color: white;
}

.pie{
    padding: 0;
    margin: 0;
    background-color: red;
}